{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2>Ajouter une publication</h2>

    <div class="content-box">
        {{ form_start(form, {attr: {'class': 'js-form-editor'}}) }}
        <p class="float-right cle">
            {{ form_widget(form.subCategory) }}
        </p>
        <p>
            {{ form_widget(form.title) }}
        </p>
        {{ form_row(form.shortDescription) }}
        {{ form_widget(form.content) }}

        <p class="mt-5  clearfix">
            <button class="btn btn-success float-right"><i class="far fa-save"></i> Enregistrer</button>
        </p>
        {{ form_end(form) }}
    </div>

{% endblock %}