<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='keywords'
          content='musicien cherche musicien, chercher musicien, chercher chanteuse, chercher guitariste, chercher batteur, chercher groupe, groupe cherche musicien, musicien cherche groupe, groupe cherche musicien, chercher chanteur, chercher bassiste, groups de rock, cherche pianiste, tutoriel de batterie, tutoriel de guitare, tutoriel de basse, forum, forum de musiciens'/>
    <meta name='robots' content='index, follow'/>

    <meta name="verify-v1" content="dKTCUOuzn9n0Y5rkFus+08eZunNMKBKj7sqURPF4KIs="/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {{ vite_entry_link_tags('styles') }}
    {{ vite_entry_link_tags('app') }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

</head>
<body>
<noscript>Votre navigateur ne supporte pas le JavaScript! Activez le pour pouvoir profiter au mieux du site.</noscript>

<div id="app"></div>

{{ vite_entry_script_tags('app') }}
</body>
</html>
