<nav id="menu">
    <ul>
        <li><a href="{{ path('app_homepage') }}">Home</a></li>
        <li>
            <a href="{{ path('app_publications') }}">Publications</a>
            <ul>
                <li class="">
                    <a href="/publications/categorie/chroniques">Chroniques</a>
                </li>
                <li class="">
                    <a href="/publications/categorie/live-reports">Live-reports</a>
                </li>
                <li class="">
                    <a href="/publications/categorie/interviews">Interviews</a>
                </li>
                <li class="">
                    <a href="/publications/categorie/articles">Articles</a>
                </li>
                <li class="">
                    <a href="/publications/categorie/news">News</a>
                </li>
                <li class=""><a href="/publications/categorie/decouvertes">Découvertes</a></li>
            </ul>
        </li>

        <li>
            <a href="{{ path('app_courses') }}">Cours</a>
            <ul>
                <li><a href="/cours/guitare">Guitare</a></li>
                <li><a href="/cours/basse">Basse</a></li>
                <li><a href="/cours/mao">MAO</a></li>
                <li><a href="/cours/batterie">Batterie</a></li>
                <li><a href="/cours/inclassable">Inclassable</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('app_search') }}">Annuaire</a>
        </li>
        <li>
            <a href="{{ path('app_forums') }}">Forum</a>
        </li>
    </ul>
</nav>

