<nav class="navbar fixed-top navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <img src="{{ asset('build/images/logo.png') }}" alt="Logo MusicAll" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="form-inline ml-auto">
                <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
            </form>

            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle inset" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://via.placeholder.com/150x150" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><strong>{{ app.user.username }}</strong></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('user_publications') }}">Mes publications</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <a href="{{ path('app_register') }}" class="ml-auto btn btn-sm btn-registration">s'inscrire</a>
                <a href="{{ path('app_login') }}" class="ml-2 btn btn-sm btn-login">se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>
